<% provide(:title, "About") %>
<div class="container" style="padding-top: 30px;">
	<div class="row">
		<div class="well" style="background-color: #ffffff">
			<h5 class="text-center" style="font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa; ">Hey! You're on Beto!</h5><br>
			<h5 style="font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;">Beto?</h5>
			<p><b>Beto</b> is a platform of news coded by <b>Davila Rostaing</b><br> helping people to post or publishing informations in real time.<br>
			   In this site, you can create an acount to get privileges for creating<br> posts and comment posts or add <br>some informations and then, liking and disliking posts or <br> informations witch have been posted. You also can cancel your <br> count if you're unhappy...<br>
			   <b>This platform</b> allows also people to get in touch with <b>Beto</b><br> for sending them any query you have and want...
			   <p>So, if you're happy click on:</p><%= link_to "☞ Get in touch with BETO", new_contact_path, class:"btn btn-primary btn-sm" %>
			</p>
		</div>
	</div>
</div>




