<% provide(:title, "Editing contact") %>

<!-- <div class="text-center">
	<h1 style="font-family: 'Tangerine', serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;">Editing Contact</h1>
</div> -->


<%= render 'form', contact: @contact %>

<%# link_to 'Show', @contact %>
<!-- <div class="container">
	<div class="row" style="margin-top: -23px; padding-left: 350px;">
		<%# link_to 'Back', new_contact_path, class: "btn btn-primary" %>
	</div>	
</div>
 -->

